.App {
    margin-top: 15px;
    text-align: center;
}

.app__form {
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.app__formControl {
    display: flex !important;
    
    
    
}

.app__input {
    flex: 0.9;

    
}

.app__IconButton {
    flex: 0.1;
}